<p>exemplo-pipes works!</p>
<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>Data de Lançamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<p>Filtro Pipe</p>
<input type="text" [(ngModel)]="filtro">
<br>

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Adicionar</button>

<p>Pipe Puro</p>

<ul>
    <li *ngFor="let item of livros | filtroArray:filtro">
    {{ item }}
    </li>
</ul>

<p>Pipe Impuro</p>
<ul>
    <li *ngFor="let item of livros | filtroArrayImpuro:filtro">
    {{ item }}
    </li>
</ul>


<p>Maneira correta de usar filtro nos projetos</p>
<ul>
    <li *ngFor="let item of obterCursos()">
    {{ item }}
    </li>
</ul>

<p>{{ valueAsync | async }}</p>